.planTable {
  font-size: 10pt;
  font-style: normal;
  vertical-align: middle;
  table-layout:fixed;
}
.planTable td {
  overflow: hidden;
  word-wrap:break-word;
  padding:2px 0px;
}

/* 小计,总计 */
.planTable tbody tr td.summary {
  font-weight : bold;
  text-align : center;
}
/* 计划课程的一格一格的学分信息 */
.planTable tbody tr td.credit_hour {
  text-align: center;
}
/* 课程名称 */
.planTable tbody tr td.course {
  text-align: left;
}

/* 需要rowspan的课程组 */
.planTable tbody tr td.group {
  vertical-align: middle;
  text-align:center;
}

.planTable tbody tr td.leaf_group {
  vertical-align: middle;
  text-align:center;
}

.planTable .remark {
  text-align:left;
}
.treeTable tbody tr td.groupButton {
  text-align : left;
}
